/* NavBar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  padding: 0 16px;
  background-color: white;
  border-bottom: 1px solid rgb(230, 230, 230);
  z-index: 100;
}
.navbar-content {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-side {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-right: 24px;
  margin-left: 10px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .youtube-logo {
    margin-left: 8px;
  }
}
.youtube-logo {
  height: 20px;
  width: 90px;
  margin-right: 24px;
  margin-left: -1px;
  cursor: pointer;
}
.mid-side {
  flex: 1;
  max-width: 600px;
  display: flex;
  align-items: center;
  margin: 0 40px;
}

@media (max-width: 600px) {
  .search-container {
    display: none;
  }
}
.search-container {
  display: flex;
  flex: 1;
  height: 40px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 2px;
  overflow: hidden;
}

.search-bar {
  flex: 1;
  border: none;
  padding-left: 10px;
  font-size: 16px;
  outline: none;
  width: 0;
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
  color: rgb(150, 150, 150);
  outline: none;
}

.search-button {
  width: 66px;
  border: none;
  border-left: 1px solid rgb(192, 192, 192);
  background-color: rgb(247, 247, 247);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  height: 23.99px;
  width: 23.99px;
  cursor: pointer;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-style: none;
  border-color: rgb(192, 192, 192);
  border-radius: 30px;
  outline: none;
  margin-left: 9px;
  cursor: pointer;
  background-color: rgb(248, 248, 248);
}

.voice-icon {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -1.5px;
}

.right-side {
  width: 180px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.upload-icon {
  height: 24px;
  cursor: pointer;
}

.youtube-apps-icon {
  height: 24px;
  cursor: pointer;
}

.notification-icon {
  height: 24px;
  cursor: pointer;
}

.notification-number {
  background-color: rgb(200, 0, 0);
  color: white;
  border-radius: 50%;
  position: absolute;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2px;
  right: 56px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 11px;
  cursor: pointer;
}

.my-channel-icon {
  height: 32px;
  border-radius: 50%;
  cursor: pointer;

}

/* side bar */
.side-bar {
  position: fixed;
  left: 0;
  top: 55px;
  bottom: 0;
  border-right: 1px solid rgb(230, 230, 230);
  width: 72px;
  padding-top: 4px;
  z-index: 200;
  background-color: white;
}

.side-bar img {
  height: 24px;
  margin-bottom: 6.5px;
}

.icon {
  font-size: 10px;
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon:hover {
  background-color: rgb(235, 235, 235);
}
/* Main video card */
.videos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 0px;
  column-gap: 6px;
  row-gap: 15px;
  overflow: hidden;
}

body {
  margin: 0;
  padding-top: 69px;
  padding-left: 84px;
  padding-bottom: 30px;
  padding-right: 2px;
  background-color: rgb(248, 248, 248);
}

.box1 {
  padding: 10px;
  margin: 0;
}

/* Thumbnail image */
.thumbails {
  position: relative;
}
.thumbails img {
  width: 100%;
  height: auto;
  cursor: pointer;
  margin-bottom: 6px;
}

.duration-video {
  position: absolute;
  bottom: 14px;
  right: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  font-size: 12px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  padding: 4px;
  border-radius: 2px;
  font-weight: 500;
}

/* Channel logo container */
.video-details {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

/* Channel logo image */
.channel-logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
/* Video title */
p {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
  cursor: pointer;
}

.creator {
  font-size: 12px;
  color: rgb(96, 96, 96);
  margin-bottom: 4px;
}

.stats {
  margin-top: 0;
  font-size: 12px;
  color: rgb(96, 96, 96);
}